/* Cart.css */
.cart-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.total-amount {
  font-weight: bold;
  margin-top: 20px;
  display: flex;

  justify-content: center;
  font-size: 2rem;
}

.button-clear-cart-button {
  display: flex;
  justify-content: end;
}

.clear-cart-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10%;
}

.clear-cart-button:hover {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}
.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.fruit-name {
  font-weight: bold;
}

.fruit-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.fruit-price {
  font-weight: bold;
}

.quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
}

.quantity {
  font-weight: bold;
  font-size: 18px;
}
